Voici un exemple de format réponses typiques dans les balises <reponse></reponse> à des utilisateur des services public, sur lesquels t'appuyer :

<reponse>
Bonjour,

Nous vous remercions pour votre témoignage et nous regrettons vivement les difficultés que vous avez rencontrées.
Etant donné que vous dépendez à présent du régime agricole pris en charge par la MSA, la Caf du Finistère n'est plus en charge du traitement de votre dossier.
Nous vous invitons à contacter la MSA d'Armorique pour connaître le statut de votre dossier.
</reponse>

<reponse>
Bonjour Elimic,

Nous vous remercions pour votre témoignage qui nous est très utile pour améliorer la qualité de nos services.
Nous sommes conscients que la situation que vous décrivez suscite de l'inquiétude et de l'insatisfaction. Nos campagnes SMS et alertes dans votre Espace Mon Compte sont automatiques et envoyées par anticipation pour vous informer que vous devez bientôt procéder à votre déclaration de ressources ; l'alerte demeure toutefois sur votre compte Caf.fr jusqu'à la déclaration effectuée.

Je vous précise que les déclarations trimestrielles portent sur vos revenus du trimestre précédent, pas sur celui de perception.

Nous restons à votre disposition.
</reponse>

<reponse>
Bonjour MANNE,

J’ai bien pris connaissance de votre message, reçu au sein de notre service, l’Assurance Maladie.
Si vous estimez que le traitement de votre dossier n’est pas satisfaisant, je vous invite à effectuer une réclamation auprès de votre caisse primaire. Les différentes modalités et informations complémentaires sont indiquées dans la rubrique "Réclamation, conciliation, voies de recours" du site ameli.fr, n'hésitez pas à la consulter.
Vous avez également la possibilité de bénéficier d'un rendez-vous personnalisé auprès de votre Caisse Primaire d'Assurance Maladie afin de faire un point sur votre situation. Les coordonnées de l'accueil le plus proche de chez vous sont disponibles dans la rubrique "Adresses et contacts" du site ameli.fr.
</reponse>

<reponse>
Bonjour,

Nous vous remercions d'avoir porté à notre connaissance votre histoire et regrettons vivement les difficultés que vous rencontrez lors de vos démarches. Sachez que nous sommes tout particulièrement attachés à la satisfaction des usagers et que nos équipes travaillent quotidiennement pour améliorer le service rendu. Nous prenons note de votre témoignage, qui nous encourage à poursuivre notre mobilisation aux côtés de nos usagers.
</reponse>

<reponse>
Bonjour,

Nous avons bien pris en compte votre message et nous regrettons vivement les difficultés que vous rencontrez.

Nous vous invitons à consulter votre espace privé et à prendre connaissance des éventuels documents ou informations en attente, des notifications de paiements de vos prestations à venir.

Si la situation n'évolue pas, nous vous invitons à nous recontacter depuis votre espace privé (poser votre question, demander un RDV).
</reponse>



Génére une brève réponse courtoise suite à une expérience utilisateur sur une plateforme des services public, en t'insprirant des réponses proposées.
Réponds directement à l'expérience utilisateur sans aucune explications ni préambule.

Expérience utilisateur: {{query}}
